.chat-box{
    padding-bottom: 1%;
    display: flex; 
    align-items: center; 
    justify-content: center;
    position: fixed;
    bottom: 0;
    background-color: #303030;
    color:whitesmoke;
    width: 100%;
}

body{
    margin:0;
    padding: 0;
    background-color: #303030;
    color: whitesmoke;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    background-color: #377D71;
    color: #d8efe7;
    display: flex;
    justify-content: center;
    position: fixed;
    margin-top: 0;
    width: 100%;
    box-shadow: 5px 1px;
    z-index: 2;
}

.chats__section{
    width: 100%;
    display: grid;
    justify-content: center;
    margin-bottom: 15vh;
}

img.magnify:hover,
    img.magnify:focus 
    {
        transition: .2s;
        transform: scale(2.0);
    }

.audio__z-index{
    z-index: 0;
}
