:root {
    --chatBox-width: 50%; 
    --cb-paddingleft: 0%;
    --chatbox-borderRadius: 10px;
    --chatsec-alignment : center;
}

@media screen and (max-width: 1000px) {
    :root {
        --chatBox-width: 100%;
        --cb-paddingleft: 10%;
        --chatbox-borderRadius: 0px;
    }
}
@media screen and (max-width: 600px) {
    :root {
        --chatsec-alignment : left;
    }
}

.chat-box{
    padding-bottom: 1%;
    padding-left: var(--cb-paddingleft);
    display: grid; 
    align-items: center; 
    justify-content: center;
    position: fixed;
    bottom: 0;
    background-color: rgb(244, 237, 237);
    color: black;
    width: var(--chatBox-width);
    margin-left: calc((100% - var(--chatBox-width))/2);
    margin-right: calc((100% - var(--chatBox-width))/2);
    margin-bottom: 1%;
    border-radius: var(--chatbox-borderRadius);
    font-size: 14px;
}

body{
    margin:0;
    padding: 0;
    background-color: #303030;
    color: whitesmoke;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    background-color: #377D71;
    color: #d8efe7;
    display: flex;
    justify-content: center;
    position: fixed;
    margin-top: 0;
    width: 100%;
    box-shadow: 5px 1px;
    z-index: 2;
}

.chats__section{
    width: 95%;
    display: grid;
    padding-top: 15vh;
    justify-content: var(--chatsec-alignment);
    margin-bottom: 15vh;
}

img.magnify:hover,
    img.magnify:focus 
    {
        transition: .2s;
        transform: scale(2.0);
    }

.audio__z-index{
    z-index: 0;
}
